
<h1> Farmers</h1>
<h2>Create Account</h2>
<%="Please make sure both fields are entered." if @farmer && @farmer.errors.any?%>

<form action="/farmers" method="post">
  <div>
    <label for="username">Username:</label>
    <input type="text" name="username">
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="password" name="password">
  </div>
  <input type="submit" value="submit">
</form>
