
<h2>My Gardens</h2>
<% if current_user.gardens.empty?%>
<p> You do not have any gardens in your collection.
  <a href="/gardens/new">Create Garden</a>
</p>
<%end%>
<ul>
  <%@farmer.gardens.each do |garden| %>
    <li><a href="/gardens/<%=garden.id%>"><%= garden.name.titleize %></a></li>
  <%end%>
</ul>
