<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>


<h2> Vegetables</h2>
  <table>
    <tr>
      <th>Name</th>
      <th>Quantity</th>
      <th>Link</th>
    </tr>
    <%@vegetables.each do |vegetable|%>
    <tr>
      <td><%=vegetable.name%></td>
      <td><%=vegetable.quantity%></td>
      <td><a href= "/vegetables/<%=vegetable.id%>">View</a></td>
    <%end%>
    </tr>
  </table>
</body>
</html>
