<h1>Modify your <%=@garden.name%> garden</h1>

<form action="/gardens/<%=@garden.id%>" method="post">
  <input type="hidden" name="_method" value="patch">
    <h2>Garden Name:</h2>
      <input type="text" name="name" value="<%=@garden.name %>">
    <h2>Planting System:</h2>
      <select name="planting_system">
        <option value="traditional">Traditional</option>
        <option value="permaculture">Permaculture</option>
        <option value="no_dig">No Dig</option>
        <option value="raised_beds">Raised Beds</option>
        <option value="square_foot_gardening">Square Foot Gardening</option>
      </select>
  <input type="submit" value="Update">
</form>
