<div class="container">
  <header><img src="images/corneal-small.png" class="img-responsive main-image"></header>
  <div class="col-md-8 col-md-offset-2">
    <h2>Sinatra Template Default Page</h2>
    <title>VeggieGarden</title>
    <img src="https://imagesvc.meredithcorp.io/v3/mm/image?url=https%3A%2F%2Fstatic.onecms.io%2Fwp-content%2Fuploads%2Fsites%2F37%2F2016%2F02%2F31223320%2F101074381.jpg&amp;w=500&amp;h=335&amp;c=sc&amp;poi=%5B275%2C275%5D&amp;q=85" alt="101074381	" title="101074381" style="width: 200px">

    <body>


      <h2>Create Account:</h2>  <a href="/create_account">
      # If not logged in
      #I want to have alink for CreateAccount pointing to '/farmer/create_account'
      # I want to have a link for logging in pointing to '/login'

      #If logged in
      # I want to have a link to create a new garden '/garden/new'
      #I want a the page to display the link to different gardens he may have <p>garden.name<a href= '/garden/:id'</p> In a clickable link that is the name of the garden. the get '/garden/:id' will erb :'farmers/show'
      # I want a link to logout '/farmer/logout'
</body>
    <div class="content">
      <p>Welcome to the Sinatra Template! If you're seeing this page, then everything is working
      as expected. To get started, delete this file (<code>app/views/welcome.erb)</code> and begin adding
      your own actions to <code>application_controller.rb</code>. For more information, see the <a href="https://github.com/thebrianemory/corneal">README</a>.</p>
    </div>

    <div class="sidebar">
      <h3>Environment</h3>
      <ul>
        <li><b>Ruby:</b> <%= RUBY_VERSION %></li>
        <li><b>Environment:</b> <%= ENV["RACK_ENV"] %></li>
        <li><b>Server:</b> <%= @env["SERVER_SOFTWARE"] %></li>
        <li><b>Port:</b> <%= @env["SERVER_PORT"] %></li>
      </ul>
    </div>

  </div>
</div>
